.btn {
  font-size: 13px;
  font-family: 'Ubuntu';
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  background-color: $orange;

  &--bg-black {
    background-color: $black;
  }
}
