


.order {

}

.form__left, .form__right {
  flex: 1;
}

.form__left { margin-right: 20px; }

.form {
  width: 100%;
  color: $white;
  font-family: "Ubuntu";
  font-size: 14px;

  

  display: flex;
  justify-content: space-between;



  &__row {
    display: flex;
  }

  &__input {
    color: $black;
    padding: 10px 21px;
    border-radius: 5px;
    border: solid 2px;


    &:focus {
      border-color: $orange;
      outline: none;
    }
  }

}

.form__block {
  flex: 1;
  margin-bottom: 18px;

  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  &-title {
    margin-bottom: 8px;
  }
}



.textarea {
  resize: none;
}


.radiobtns{
  margin-bottom: 30px;
}



.radiobtns__control{
  display: flex;
  justify-content: flex-start;

}

.radiobtns__label{
  position: relative;
  display: flex;
  align-items: center;
}


.radiobtns__radio{
  position: absolute;
  top: 0;
  left: -9999px;
  
}

.radiobtns__label-text{
  margin-right: 20px;
}


.radiobtns__radio-fake{
  display: flex;
justify-content: center;
align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #c9c9c9 ;
  margin-right: 10px;

}

.radiobtns__radio-fake::before{
  content: '';
  display: flex;
  background-color: $orange;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: 0.2s;
}

.radiobtns__radio:checked + .radiobtns__radio-fake::before{
  width: 6px;
  height: 6px;
}

.radiobtns__radio:checked + .radiobtns__radio-fake{
  border: 1px solid $orange;
}






.check {
  margin-bottom: 20px;
}


.checkbox {
color: $white;
}


.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox__text {
  position: relative;
  padding: 0 0 0 50px;
  cursor: pointer;
}
.checkbox__text:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 16px;
  height: 16px;
  background: $white;
}

.checkbox input:checked + .checkbox__text:before {
  background: url(../../IMG-from-maket/checkmark_orange.png) center center / contain no-repeat;
  transform: scale(0.8);
  transition: 0.2s;
}




.submit__btn-clear {
  background: none;
}


