// header

.header {
  width: 100%;
  padding-top: rem(12px);
  display: flex;
  justify-content: space-between;
}



.header__btns {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  font-family: 'Ubuntu';
  font-size: rem(13px);
  font-weight: 500;
  margin-right: rem(15px);

  &__list {
    display: flex;
  }


  &__item {
    display: block;
    margin: 0 rem(12px);
    position: relative;

    &::before {
      content: '';
      position: absolute;

      width: rem(4px);
      height: rem(4px);
      display: block;
      border-radius: 50%;
      background: white;
      top: rem(5px);
      left: rem(-15px);
      
    }

    &_link {
      display: flex;
      align-items: center;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;


    }
  }
}

.nav__item:last-child .nav__item_link::after {
  display: none;
}

