
$black:  #2f3234;
$yellow: #f9b43b;
$orange: #e45028;
$white: #ffffff;


.section {
  min-width: 950px;
  height: 100vh;
  min-height: 650px;
}

.container{
  margin: 0 auto;
  width: 940px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--without-align {
    align-items: initial;
  }
}







.hero{
background: url(../../IMG-from-maket/backgrounnds/first-screen.png) center center / cover no-repeat;
}

.whe-are-the-best{
background: url(../../IMG-from-maket/backgrounnds/whe-are.png) center center / cover no-repeat;
}


.order {
  background: url(../../IMG-from-maket/backgrounnds/form_bg.jpg) center center / cover no-repeat;

}





