html {
  font-size: 16px;


  @include tablet {
    font-size: 14px;
  }

  @include smart {
    font-size: 13px;
  }
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: rem(1920px);
}




%cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}




.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  transform: translateY(0);
  transition: transform 1s;

}

//mixins





.section {
  // min-width: rem(950px); Это сдомало нам все чтоб модно было сморщивать
  height: 100vh;
  min-height: rem(650px);
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: rem(940px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &--without-align {
    align-items: initial;
  }

  @include tablet {
    width: 95%;
  }

  @include smart {
    width: 95%;
  }

}







.hero {
  background: url(../../IMG-from-maket/backgrounnds/first-screen.png) center center / cover no-repeat;
}

.whe-are-the-best {
  background: url(../../IMG-from-maket/backgrounnds/whe-are.png) center center / cover no-repeat;
}


.order {
  background: url(../../IMG-from-maket/backgrounnds/form_bg.jpg) center center / cover no-repeat;
}

.team {
  background: url(../../IMG-from-maket/backgrounnds/team.jpg) center center / cover no-repeat;
}

.menu {
  background: url(../../IMG-from-maket/backgrounnds/menu_main.jpg) center center / cover no-repeat;

}

.how_we_work-page {
  background: url(../../IMG-from-maket/backgrounnds/how_we_work.jpg) center center / cover no-repeat;

}