.hero__container {
  flex: 1;
}

.hero__content {
  display: flex;
  align-items: center;
}

.hero__picture {
  margin-right: rem(rem(10px));
}

.hero__title {
  color: orange;
}


.hero__desc {
  font-family: 'Lifehack';
  font-size: rem(55px);
  font-weight: 500;
  line-height: 1.31;
  letter-spacing: -1.6px;
  color: white;
  text-align: center;
}




.arrow {
  text-align: center;
  margin-bottom: rem(20px);
}








// pagination


.pagination {
  position: fixed;
  top: rem(90px);
  right: rem(50px);
}

.pagination__item {
  margin-bottom: rem(5px);
}


.page_dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(16px);
  height: rem(16px);
  border: rem(1px) solid transparent;
  border-radius: 50%;

  &::before {
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: $white;
  }

  &:hover, {
    border-color: white;
  }

}

.pagination__item-active .page_dot {
  border-color: white;
}