.hero__container {
  flex: 1;
}

.hero__content {
  display: flex;
  align-items: center;
  margin-top: rem(-70px);

  @include tablet {
    flex-direction: column;
    padding: 0 12%;
  }

 

}

.hero__picture {
  margin-right: rem(10px);
  width: 50%;

  @include tablet {
    width: 90%;
    margin-right: 0;
    margin-bottom: rem(50px);
  }

}

.hero__text {
  width: 50%;
  @include tablet {
    width: 90%;

  }
}

.hero__title {
  color: orange;
  text-align: left;
  margin-bottom: rem(40px);

  @include tablet {
    font-size: rem(63px);
    text-align: center;
  }

}


.hero__desc {
  font-family: 'Lifehack';
  font-size: rem(55px);
  font-weight: 500;
  line-height: 1.31;
  letter-spacing: -1.6px;
  color: white;

  @include tablet {
    text-align: center;
  }
}




.arrow {
  text-align: center;
  margin-bottom: rem(20px);
}








// pagination


.pagination {
  position: fixed;
  top: rem(90px);
  right: rem(50px);


  @include tablet {
    display: none;
  }

  @include smart {
    display: none;
  }


}

.pagination__item {
  margin-bottom: rem(5px);
}


.page_dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(16px);
  height: rem(16px);
  border: rem(1px) solid transparent;
  border-radius: 50%;

  &::before {
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: $white;
  }

  &:hover, {
    border-color: white;
  }

}

.pagination__item-active .page_dot {
  border-color: white;
}