.team-container {
 

  height: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  overflow: hidden;
  
  
  position: relative;

  margin: 0 0;


}

.team__wrapper {
  height: 100%;
  background: #393b3c;
  opacity: 0.93;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;


  @include tablet {
    left: 0;
  }

  @include smart {


  }

}

.team__content {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    text-align: center;
}
  



}

.team-title {
  margin-bottom: rem(46px);
}

.team__list{

  @include tablet {
display: flex;
flex-direction: column;
align-items: center;
}

}


.team__item {
  margin-bottom: rem(35px);

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

.team__member {
  position: relative;
  font-family: 'Gagalin';
  font-size: rem(14px);
  line-height: 2;
  color: $white;
  text-decoration: none;




  &::before {
    content: '';
    display: block;
    position: absolute;

    background: url('/IMG-from-maket/team_arrow.png') center center / cover no-repeat;
    height: rem(15px);
    width: rem(15px);
    top: rem(5px);
    left: rem(-30px);
    transition: 0.5s;

    
  }

}





.member__card {
  display: flex;

  @include tablet {
    flex-direction: column;
    align-items: center;
}
  
}

.member__avatar {
  margin-right: rem(20px);

  @include smart {
margin-right: 0;  
}

  &>img {
    border-radius: 50%;

  }
}

.memeber__desc {
  width: rem(210px);

}

.member__occupy {
  font-family: 'Ubuntu';
  font-size: rem(14px);
  font-weight: bold;
  line-height: 1.71;

  &_desc {
    font-size: rem(14px);
    line-height: 1.71;
    font-family: 'Ubuntu';
  }

}

// Function what hide our menu

.team__hidden {
  height: 0;
  overflow: hidden;


  transition: height 0.5s ease-in-out;
}






.team__item-active .team__hidden {
  height: rem(120px);
  // padding-top: 17px;


  @include tablet {
    height: rem(225px);
}
  


}

.team__item-active {
  .team__member::before {
    transform: rotate(-180deg);
    transition: 0.5s;

  }
}


// End of function what hide our