
.whe-are_title{
  margin-bottom: 50px;

  h4{
    text-align: center;
  }
}

.reason__list{
  display: flex;
align-items: center;
}


.reason__item{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 30%;
  // margin-right: 5%;
}

.reasons__item:last-child{
  margin-right: 0;
}

.reason__banner{
  margin-bottom: 33px;
}
.reason__title{
  font-family: 'Lifehack';
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.6px;
  text-align: center;
  color: #2f3234;
  width: 210px;

}

  .reason__desc{
    opacity: 0.8;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: rgba(47, 50, 52, 0.8);
  }

