* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
  padding: 0 0;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

li {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

div {
  margin: 0;
  padding: 0;
}

input,
textarea {
  width: 100%;
}

img {
  max-width: 100%;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "Gagalin";
  src: url("../../fonts/gagalin-regular/gagalin-regular-webfont.woff2") format("woff2"), url("../../fonts/gagalin-regular/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lifehack";
  src: url("../../fonts/lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../../fonts/lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 16px;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 120rem;
}

.menu__trigger {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 58.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container--without-align {
  align-items: initial;
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 480px) {
  .container {
    width: 95%;
  }
}

.hero {
  background: url(../../IMG-from-maket/backgrounnds/first-screen.png) center center/cover no-repeat;
}

.whe-are-the-best {
  background: url(../../IMG-from-maket/backgrounnds/whe-are.png) center center/cover no-repeat;
}

.order {
  background: url(../../IMG-from-maket/backgrounnds/form_bg.jpg) center center/cover no-repeat;
}

.team {
  background: url(../../IMG-from-maket/backgrounnds/team.jpg) center center/cover no-repeat;
}

.menu {
  background: url(../../IMG-from-maket/backgrounnds/menu_main.jpg) center center/cover no-repeat;
}

.header {
  width: 100%;
  padding-top: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.header__menu_active {
  background: rgba(47, 49, 52, 0.9);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
}
.header__menu_active .header__btns {
  width: 100%;
  justify-content: center;
}
.header__menu_active .logo {
  position: fixed;
}
.header__menu_active .nav {
  display: block;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__menu_active .nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__menu_active .nav__item {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__menu_active .nav__item::before {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 20px;
}
.header__menu_active .order_btn {
  display: none;
}
.header__menu_active .ham-stick {
  opacity: 0.7;
}
.header__menu_active .ham-stick:nth-child(2) {
  opacity: 0;
}
.header__menu_active .ham-stick:nth-child(1) {
  transform: rotate(45deg);
  transition: 0.5s;
}
.header__menu_active .ham-stick:nth-child(3) {
  transform: rotate(-45deg) translate(13px, -13px);
  transition: 0.8s;
}

.header__btns {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  font-family: "Ubuntu";
  font-size: 0.8125rem;
  font-weight: 500;
  margin-right: 0.9375rem;
}
.nav__list {
  display: flex;
}
.nav__item {
  display: block;
  margin: 0 0.75rem;
  position: relative;
}
.nav__item::before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  display: block;
  border-radius: 50%;
  background: white;
  top: 0.3125rem;
  left: -0.9375rem;
}
.nav__item:first-child::before {
  display: none;
}
.nav__item_link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
@media (max-width: 480px) {
  .nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .order_btn {
    position: absolute;
    right: 90px;
  }
}
@media (max-width: 480px) {
  .order_btn {
    right: 90px;
  }
}

.nav__item:last-child .nav__item_link::after {
  display: none;
}

.hamburger__menu {
  position: absolute;
  top: 20px;
  right: 35px;
  position: fixed;
  top: 30px;
}

.ham-stick {
  width: 24px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  margin: 5px 0;
  display: none;
}
@media (max-width: 768px) {
  .ham-stick {
    display: block;
  }
}
@media (max-width: 480px) {
  .ham-stick {
    display: block;
  }
}

.btn {
  font-size: 0.8125rem;
  font-family: "Ubuntu";
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  border: none;
  padding: 0.625rem 0.9375rem;
  background-color: #e45028;
}
.btn:hover {
  background: #c1401e;
}

.btn--bg-black {
  background-color: #2f3234;
}
.btn--bg-black:hover {
  background: #1f2122;
}

.hero__container {
  flex: 1;
}

.hero__content {
  display: flex;
  align-items: center;
  margin-top: -4.375rem;
}
@media (max-width: 768px) {
  .hero__content {
    flex-direction: column;
    padding: 0 12%;
  }
}

.hero__picture {
  margin-right: 0.625rem;
  width: 50%;
}
@media (max-width: 768px) {
  .hero__picture {
    width: 90%;
    margin-right: 0;
    margin-bottom: 3.125rem;
  }
}

.hero__text {
  width: 50%;
}
@media (max-width: 768px) {
  .hero__text {
    width: 90%;
  }
}

.hero__title {
  color: orange;
  text-align: left;
  margin-bottom: 2.5rem;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 3.9375rem;
    text-align: center;
  }
}

.hero__desc {
  font-family: "Lifehack";
  font-size: 3.4375rem;
  font-weight: 500;
  line-height: 1.31;
  letter-spacing: -1.6px;
  color: white;
}
@media (max-width: 768px) {
  .hero__desc {
    text-align: center;
  }
}

.arrow {
  text-align: center;
  margin-bottom: 1.25rem;
}

.pagination {
  position: fixed;
  top: 5.625rem;
  right: 3.125rem;
}
@media (max-width: 768px) {
  .pagination {
    display: none;
  }
}
@media (max-width: 480px) {
  .pagination {
    display: none;
  }
}

.pagination__item {
  margin-bottom: 0.3125rem;
}

.page_dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid transparent;
  border-radius: 50%;
}
.page_dot::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #ffffff;
}
.page_dot:hover {
  border-color: white;
}

.pagination__item-active .page_dot {
  border-color: white;
}

.review-page {
  background: #2f3234;
}

.review__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.review__item {
  width: 25%;
  height: 50%;
  background: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
@media (max-width: 768px) {
  .review__item {
    width: 50%;
    height: 25%;
    text-align: center;
  }
}
.review__item:hover .review__hover {
  opacity: 1;
}

.review__hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 50, 52, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  color: #ffffff;
  padding: 10%;
}
@media (max-width: 768px) {
  .review__hover {
    align-items: center;
  }
}
@media (max-width: 480px) {
  .review__hover {
    align-items: center;
  }
}
.review__hover .review__title {
  font-family: "Gagalin";
  font-size: 0.875rem;
  line-height: 2;
}
@media (max-width: 480px) {
  .review__hover .review__title {
    font-size: 1.5rem;
    line-height: 1.17;
    text-align: center;
  }
}
.review__hover .review__text {
  font-family: "Ubuntu";
  font-size: 0.875rem;
  font-weight: lighter;
  line-height: 1.71;
  margin-bottom: 0.9375rem;
}
@media (max-width: 480px) {
  .review__hover .review__text p {
    display: none;
  }
}

@media (max-width: 480px) {
  .review__btn {
    display: none;
  }
}
.review__btn-hidden {
  display: none;
}
@media (max-width: 480px) {
  .review__btn-hidden {
    display: block;
  }
}

.title {
  font-family: "Gagalin";
  font-size: 4.5rem;
  line-height: 0.89;
  letter-spacing: normal;
}
.title--orange {
  color: #e45028;
}
.title--yellow {
  color: #f9b43b;
}
.title--white {
  color: #ffffff;
}

.whe-are_title {
  margin-bottom: 3.125rem;
}
.whe-are_title h4 {
  text-align: center;
}

.reason__list {
  display: flex;
}
@media (max-width: 480px) {
  .reason__list {
    flex-direction: column;
  }
}

.reason__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  margin-bottom: 2.8125rem;
}
@media (max-width: 480px) {
  .reason__item {
    flex-direction: row;
  }
}

.reasons__item:last-child {
  margin-right: 0;
}

.reason__banner .reason-img {
  width: 6.0625rem;
}
@media (max-width: 480px) {
  .reason__banner {
    margin-right: 0.625rem;
  }
}

.reason__title {
  font-family: "Lifehack";
  font-size: 1.5rem;
  line-height: 1.17;
  letter-spacing: -0.6px;
  text-align: center;
  color: #2f3234;
}
@media (max-width: 480px) {
  .reason__title {
    text-align: left;
  }
}

.reason__desc {
  opacity: 0.8;
  font-family: "Ubuntu";
  font-size: 0.875rem;
  font-weight: lighter;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: rgba(47, 50, 52, 0.8);
}
@media (max-width: 480px) {
  .reason__desc {
    text-align: left;
  }
}

.whe__are_svg {
  width: 6.25rem;
  height: 5.625rem;
}

.burger__slider_item {
  display: none;
}
.burger__slider_item-active {
  display: flex;
}

.burger__menu {
  background-image: linear-gradient(to top, #f9b43b, #eb8c38 48%, #f9b43b 74%);
}
.burger__menu-container {
  flex-direction: row;
}

.slider__content {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .slider__content {
    flex-direction: column;
  }
}
.slider__content .burger__contain {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider__content .burger {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .slider__content .burger {
    width: 100%;
  }
}
.slider__content .burger__contain .burger__btn {
  display: flex;
  width: 5.625rem;
  height: 5.625rem;
  background: #e35028;
  border-radius: 0.3125rem;
  align-items: center;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.slider__content .burger__contain .burger__btn_text {
  color: #ffffff;
  text-decoration: none;
  font-family: "Gagalin";
  font-size: 14px;
  line-height: 2;
}
@media (max-width: 768px) {
  .slider__content .burger .burger__picture {
    width: 70%;
  }
}

.burger__btn,
.kkal-img {
  position: absolute;
}

.kkal-img {
  bottom: 0;
  left: 0;
}
@media (max-width: 768px) {
  .kkal-img {
    top: 0;
    left: 90%;
  }
}

.description {
  width: 50%;
}
@media (max-width: 768px) {
  .description {
    width: 100%;
    text-align: center;
  }
}
.description .burger__menu-title {
  margin-bottom: 3.4375rem;
}
.description .burger__desc {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  margin-bottom: 2.25rem;
}
.description .burger__price {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .description .burger__price {
    justify-content: center;
  }
}
.description .burger__price .burger__cost {
  margin-right: 1.875rem;
}
.description .burger__price span {
  margin-left: -1.25rem;
  font-size: 1.75rem;
  letter-spacing: -0.05rem;
}

.slider__arrow {
  width: 1.6875rem;
}
.slider__arrow-left {
  transform: rotate(90deg);
}
.slider__arrow-right {
  transform: rotate(-90deg);
}

.title--orange-title {
  margin-bottom: 2.75rem;
}

.form__left,
.form__right {
  flex: 1;
}

.form__left {
  margin-right: 1.25rem;
}
@media (max-width: 768px) {
  .form__left {
    margin-right: 0;
  }
}

.form {
  width: 100%;
  color: #ffffff;
  font-family: "Ubuntu";
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .form {
    flex-direction: column;
    width: 29.375rem;
  }
}
@media (max-width: 480px) {
  .form {
    width: 95%;
  }
}
.form__row {
  display: flex;
}
.form__input {
  color: #2f3234;
  padding: 0.625rem 1.3125rem;
  border-radius: 0.3125rem;
  border: solid 0.125rem;
}
.form__input:focus {
  border-color: #e45028;
  outline: none;
}

.form__block {
  flex: 1;
  margin-bottom: 1.125rem;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__block-title {
  margin-bottom: 0.5rem;
}

.textarea {
  resize: none;
}

.radiobtns {
  margin-bottom: 0.4375rem;
}

.radiobtns__control {
  display: flex;
  justify-content: flex-start;
}

.radiobtns__label {
  position: relative;
  display: flex;
  align-items: center;
}

.radiobtns__radio {
  position: absolute;
  top: 0;
  left: -624.9375rem;
}

.radiobtns__label-text {
  margin-right: 1.25rem;
}

.radiobtns__radio-fake {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid #c9c9c9;
  margin-right: 0.625rem;
}

.radiobtns__radio-fake::before {
  content: "";
  display: flex;
  background-color: #e45028;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: 0.2s;
}

.radiobtns__radio:checked + .radiobtns__radio-fake::before {
  width: 0.375rem;
  height: 0.375rem;
}

.radiobtns__radio:checked + .radiobtns__radio-fake {
  border: 0.0625rem solid #e45028;
}

.check {
  margin-bottom: 1.25rem;
}

.checkbox {
  color: #ffffff;
}

.checkbox input {
  position: relative;
  z-index: -1;
  opacity: 0;
  margin: 0.625rem 0 0 1.25rem;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 3.125rem;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: #ffffff;
}

.checkbox input:checked + .checkbox__text:before {
  background: url(../../IMG-from-maket/checkmark_orange.png) center center/contain no-repeat;
  transition: 0.2s;
}

.submit__btn-clear {
  background: none;
}

.team-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin: 0 0;
}

.team__wrapper {
  height: 100%;
  background: #393b3c;
  opacity: 0.93;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
}
@media (max-width: 768px) {
  .team__wrapper {
    left: 0;
  }
}
.team__content {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .team__content {
    text-align: center;
  }
}

.team-title {
  margin-bottom: 2.875rem;
}

@media (max-width: 768px) {
  .team__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__item {
  margin-bottom: 2.1875rem;
}
@media (max-width: 768px) {
  .team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__member {
  margin-left: 1.875rem;
  position: relative;
  font-family: "Gagalin";
  font-size: 0.875rem;
  line-height: 2;
  color: #ffffff;
  text-decoration: none;
}
.team__member::before {
  content: "";
  display: block;
  position: absolute;
  background: url("IMG-from-maket/team_arrow.png") center center/cover no-repeat;
  height: 0.9375rem;
  width: 0.9375rem;
  top: 0.3125rem;
  left: -1.875rem;
  transition: 0.5s;
}

.member__card {
  display: flex;
}
@media (max-width: 768px) {
  .member__card {
    flex-direction: column;
    align-items: center;
  }
}

.member__avatar {
  margin-right: 1.25rem;
}
@media (max-width: 480px) {
  .member__avatar {
    margin-right: 0;
  }
}
.member__avatar > img {
  border-radius: 50%;
}

.memeber__desc {
  width: 13.125rem;
}

.member__occupy {
  font-family: "Ubuntu";
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.71;
}
.member__occupy_desc {
  font-size: 0.875rem;
  line-height: 1.71;
  font-family: "Ubuntu";
}

.team__hidden {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.team__item-active .team__hidden {
  height: 7.5rem;
}
@media (max-width: 768px) {
  .team__item-active .team__hidden {
    height: 14.0625rem;
  }
}

.team__item-active .team__member::before {
  transform: rotate(-180deg);
  transition: 0.5s;
}

.title-menu {
  position: absolute;
  top: 6.875rem;
  left: 6.25rem;
}

.menu {
  position: relative;
}
.menu__list {
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 480px) {
  .menu__list {
    position: relative;
  }
}
.menu__item {
  display: flex;
}
.menu__item:hover .menu__trigger span {
  color: #f9b43b;
}
.menu__item:hover .menu__wrap {
  width: 33.75rem;
  transition: 0.9s;
}
@media (max-width: 768px) {
  .menu__item:hover .menu__wrap {
    width: 18.75rem;
  }
}
@media (max-width: 480px) {
  .menu__item:hover .menu__wrap {
    flex: 1;
    z-index: 1;
  }
}
.menu__wrap {
  width: 0;
  overflow: hidden;
}
.menu__trigger {
  padding-bottom: 2.8125rem;
  width: 5rem;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}
.menu__trigger span {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-family: "Gagalin", sans-serif;
  color: #ffffff;
  text-decoration: none;
  transform: rotate(-90deg);
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
.menu__content {
  background-color: rgba(47, 50, 52, 0.9);
  height: 100%;
  padding: 3.875rem 2.3125rem 3.875rem 2.0625rem;
  line-height: 1.5rem;
  font-family: "Ubuntu";
  font-weight: lighter;
  color: #ffffff;
  min-width: 33.75rem;
}
.menu__content:last-child {
  padding-right: 3.75rem;
}
@media (max-width: 768px) {
  .menu__content p {
    width: 14.375rem;
  }
}

.map {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.map-img {
  background-size: cover;
}

.map__section {
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3.75rem;
  background: url(../../IMG-from-maket/backgrounnds/footer_bg.jpg) center center/cover no-repeat;
  color: #ffffff;
  width: 100%;
}
.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
}
.contacts .address {
  margin-bottom: 0.4375rem;
}

.tel__wrapper a {
  color: #ffffff;
  text-decoration: none;
  color: #e45028;
  font-weight: bold;
}

.phone-icon {
  width: 0.75rem;
  height: 0.75rem;
  fill: #e45028;
}

.socials {
  height: 100%;
}
.socials__list {
  display: flex;
}
.socials__item {
  margin-right: 1.25rem;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__item_link {
  color: #ffffff;
  display: flex;
}

.vk-icon, .tw-icon, .inst-icon, .fb-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #ffffff;
  opacity: 0.3;
}

.vk-icon:hover, .tw-icon:hover, .inst-icon:hover, .fb-icon:hover {
  opacity: 1;
}

/*# sourceMappingURL=compile.css.map */
