.header {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Ubuntu';
  font-size: 13px;
  font-weight: 500;
  margin-right: 15px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__item {
    display: block; }
    .nav__item_link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none; }
      .nav__item_link:after {
        content: '';
        width: 4px;
        height: 4px;
        display: block;
        border-radius: 50%;
        background: white;
        margin: 0 10px; }

.nav__item:last-child .nav__item_link::after {
  display: none; }
