.review__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.review__item {
  width: 25%;
  height: 50%; }
  .review__item a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 100%; }

.review_hide {
  opacity: 0.2; }

.hide-link:hover .review_hide {
  opacity: 0.9; }

.review {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 50px 20px;
  padding-right: 30px; }
  .review h6 {
    font-family: 'Gagalin';
    font-size: 14px;
    line-height: 2;
    text-transform: uppercase; }
  .review p {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71; }
  .review .review_link {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #2f3234;
    border: none;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.31;
    text-transform: uppercase; }
    .review .review_link:hover {
      background-color: #1f2122; }
